* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, monospace;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcyan;
    padding: 10px 20px;
    color: #000;
    border-bottom: 2px solid #313131;
    position: sticky;
    width: 100%;
    z-index: 99;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

header > nav > ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 0;
}

nav > ul > li > a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}

nav ul li a:hover {
    color: rgb(57, 133, 189);
}

main, section {
    max-width: 900px;
    margin: auto;
}

#about-section {
    background-color: powderblue;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.about-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.about-wrapper img {
    width: 250px; /* bebas kamu atur */
    height: auto;
    border-radius: 5px;
}

#about-section > img {
    float: right;
    width: 180px;
    height: auto;
    margin: 0 0 20px 20px;
    border-radius: 5px;
}

#about-section > p {
    margin-bottom: 12px;
    line-height: 1.5;
    text-align: justify;
}

#about-section > h2 {
    padding-bottom: 20px;
    text-align: center;
}

#notification-div {
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    border: 2px dashed darkred;
    border-radius: 15px;
    max-width: 40%;
    position: relative;
    left: 60%;
    z-index: 5;
}

#project-section {
    background-color: powderblue;
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
    margin-bottom: auto;
    border-radius: 50px;
}

#contact-section {
    background-color: powderblue;
    width: 100vw;
    height: auto;
    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
    border-radius: 50px 50px 0 0;
    margin-top: 50px;
}

#contact-section h2 {
    text-align: center;
}

#contact-section ul {
    list-style: none;
}
